<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.freedom.order_application">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name="com.freedom.order_application.ListenOrder"
            android:enabled="true"
            android:exported="true"></service>

        <activity android:name="com.freedom.order_application.All_Order_Food_List" />
        <activity android:name="com.freedom.order_application.Add_Product" />
        <activity android:name="com.freedom.order_application.Order_show" />
        <activity android:name="com.freedom.order_application.List_All_Order" />
        <activity android:name="com.freedom.order_application.Admin_Side" />
        <activity android:name="com.freedom.order_application.All_Cart" />
        <activity
            android:name="com.freedom.order_application.Cart"
            android:screenOrientation="portrait" />
        <activity android:name="com.freedom.order_application.FoodDetails" />
        <activity android:name="com.freedom.order_application.FoodList" />
        <activity android:name="com.freedom.order_application.Admin_Login" />
        <activity android:name="com.freedom.order_application.Home" />
        <activity android:name="com.freedom.order_application.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.freedom.order_application.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>